################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Search/FileContentIndex/f314d8f6-ee4d-42a1-b465-e23094ddabf1.vsidx
